
<!--////////////////////////////////////////PARTIE CREEE////////////////////////////////////////////////////-->
<div id="cree" class="container">
    <h4>Etat de la demande</h4>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
          CRÉÉE
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
          EN PRÉPA
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
          A PAYER
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            ENVOYÉE
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            A PAYER S
        </div>
      </div>
      <br />
    <form>
      <div class="form-row">
        <fieldset class="border p-2">
          <legend class="w-auto">Documents à remplir au préalable</legend>
  
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="bourse"> Contrat de bourse</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="convention"> Convention de stage/d'études</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="charte"> Charte</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="preuve_passage"> Preuve de passage de tests linguistiques</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="doc_engagement"> Documents d'engagement (assurance,logement...)</p>
          </div>
          <button type="button" class="btn btn-primary" id="sauver_documents_pre">Sauvegarder</button>
        </fieldset>
        <fieldset class="border p-2">
          <legend class="w-auto">Encodé dans : </legend>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="pro_eco"> Pro Eco</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="radio" id="mobility_tool" name="prog"> Mobility Tool</p>
            <p><input type="radio" id="mobi" name="prog"> Mobi</p>
          </div>
  
        </fieldset>
  
  
      </div><!--/form row-->
    </form>
  </br>
  
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-primary" id="envoyer_demande">Envoyer la demande</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-danger annuler_demande">Annuler la mobilité</button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-danger refuser_demande">Refuser la mobilité</button>
      </div>
    </div>
  </form>
  
</div><!-- /cree-->

<!--////////////////////////////////////////PARTIE EN PREPARATION////////////////////////////////////////////////////-->
<div id="enPrepa" class="container">
    <h4>Etat de la demande</h4>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
          CRÉÉE
        </div>
        <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
          EN PRÉPA
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
          A PAYER
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            ENVOYÉE
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            A PAYER S
        </div>
      </div>
      <br />
    <form>
      <div class="form-row">
        <fieldset class="border p-2">
          <legend class="w-auto">Documents à remplir au préalable</legend>
  
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="bourse"> Contrat de bourse</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="convention"> Convention de stage/d'études</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="charte"> Charte</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="preuve_passage"> Preuve de passage de tests linguistiques</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="doc_engagement"> Documents d'engagement (assurance,logement...)</p>
          </div>
          <button type="button" class="btn btn-primary" id="sauver_documents_pre">Sauvegarder</button>
        </fieldset>
        <fieldset class="border p-2">
          <legend class="w-auto">Encodé dans : </legend>
          <div class="form-group col-md-6">
            <p><input type="checkbox" id="pro_eco"> Pro Eco</p>
          </div>
          <div class="form-group col-md-6">
            <p><input type="radio" id="mobility_tool" name="prog"> Mobility Tool</p>
            <p><input type="radio" id="mobi" name="prog"> Mobi</p>
          </div>
  
        </fieldset>
  
  
      </div><!--/form row-->
    </form>
  </br>
  
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-primary" id="envoyer_demande">Envoyer la demande</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-danger annuler_demande">Annuler la mobilité</button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-danger refuser_demande">Refuser la mobilité</button>
      </div>
    </div>
  </form>
  
</div><!-- /cree-->

<!--////////////////////////////////////////PARTIE A PAYE////////////////////////////////////////////////////-->

<div id="apayer" class="container">
    <h4>Etat de la demande</h4>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          CRÉÉE
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          EN PRÉPA
        </div>
        <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
          A PAYER
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            ENVOYÉE
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            A PAYER S
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <button type="button" class="btn btn-outline-secondary">Indiquer envoie de la demande de payement</button>
      </div>
      <br />
      <br />
      <div class="row justify-content-around">
        <button type="button" class="btn btn-danger col-md-2 annuler_demande">Annuler la mobilité</button>
        <button type="button" class="btn btn-danger col-md-2 refuser_demande">Refuser la mobilité</button>
    </div>

  </div><!-- /aPayer-->

<!--////////////////////////////////////////PARTIE ENVOYE DEMANDE A HE////////////////////////////////////////////////////-->

<div id="envoyeAHE" class="container">
    <h4>Etat de la demande</h4>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          CRÉÉE
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          EN PRÉPA
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          A PAYER
        </div>
        <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
            ENVOYÉE
        </div>
        <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
            A PAYER S
        </div>
      </div>
      <br />
    <form>
        <fieldset class="border p-2">
          <legend class="w-auto">Documents à remplir au retours</legend>
          <p><input type="checkbox" id="attSejour"> Attestation de séjour</p>
          <p><input type="checkbox" id="relNotes"> Relevé de notes</p>
          <p><input type="checkbox" id="certifStage"> Certificat de stage</p>
          <p><input type="checkbox" id="rapFinal"> Rapport final complété en ligne</p>
          <p><input type="checkbox" id="preuve_passageApMob"> Preuve de passage de tests linguistiques après mobilité</p>
        <button type="button" class="btn btn-outline-secondary" id="savEnvoyeHE">Sauvegarder</button>
        <button type="button" class="btn btn-outline-secondary" id="demRemb">Demander remboursement</button>
        </fieldset>
    </form>
  </br>
  <button type="button" class="btn btn-outline-success" id="recDocRetEt">Réception des documents au retour de l'étudiant</button>

</div><!-- /envoyeAHE-->

<!--////////////////////////////////////////PARTIE A PAYE SOLDE////////////////////////////////////////////////////-->

<div id="apayerSolde" class="container">
    <h4>Etat de la demande</h4>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          CRÉÉE
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          EN PRÉPA
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
          A PAYER
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
            ENVOYÉE
        </div>
        <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
            A PAYER S
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row justify-content-center">
        <button type="button" class="btn btn-outline-secondary" id="deuxiemeDemandePayement">Indiquer envoie de la deuxieme demande de payement</button>
      </div>
    
</div><!-- /apayerSolde-->


  