<div id="connexion-inscription">
<div class="row">
<div class="col-lg-8">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
	<img src="assets/images/logoA.png" class="rounded mx-auto d-block w-25 p-3" id="logoA" alt="Logo d'accueil">
</div>
<div class="col-lg-4">

<!-- CONNEXION  !-->
<div id="connexion">
    <br />
    <br />
        <form class="form-inline">
                <div class="form-group mb-2">
                  <label for="staticEmail2" class="sr-only">Pseudo</label>
                  <input type="text" class="form-control" id="pseudo" placeholder="pseudo">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputPassword2" class="sr-only">Mot de passe</label>
                  <input type="password" class="form-control" id="mdp" placeholder="mot de passe">
                </div>
                <button type="button" id="bouton_connexion" class="btn btn-primary mb-2">Se connecter</button>
                <p id="alertCon" class="text-primary"></p>
        </form>
</div>
<br/>
<br/>
<!-- INSCRIPTION  !-->
<div id="inscription">
		<div class="d-flex justify-content-end mr-5">
	    <div class="card" style="width: 25rem;">
	    <div class="card-body">
	        <h1 class="card-title text-center">Inscription</h1>
			<br />
			<form>
	            <p>Pseudo: <input type="text" id="pseudo_i" placeholder="jdoe1"></p>
				<p>Nom: <input type="text" id="nom" placeholder="Doe"></p>
				<p>Prenom:  <input type="text" id="prenom" placeholder="John"></p>
				<p>Email: <input type="email" id="email" placeholder="Doe@hotmail.com"></p>
				<p>Mot de passe: <input type="password" id="mdp_i" placeholder="***"></p>
				<p id="alertInsc" class="text-primary"></p>
	        <div class="text-center">
				<button type="button" id="bouton_inscription" class="btn btn-primary mb-2">S'inscrire</button>
			</div>
			</form>
	    </div>
	    </div>
	    </div> <!-- /d-flex !-->
	</div> <!-- /col-mg-4 !-->
	</div> <!-- /row !-->
</div>
</div>