<div id="etudiant">
  <div class="container-fluid" id="encoderMobi">
    <br />
    <br />
      <p id="alertViewMobPasDeMob" class="text-primary"></p>
    <form id="formDemandeMobilite">
      <div class="form-row">
        <div class="form-group col-md-1">
          <label for="ordre">Ordre</label>
          <input type="number" class="form-control" id="ordre">
        </div>
        <div class="form-group col-md-1">
          <label for="programme">Programme</label>
          <select class="form-control" id="programme">
          </select>
        </div>
        <div class="form-group col-md-1">
          <label for="duree">Code</label>
          <select class="form-control" id="code">
          </select>
        </div>
        <div class="form-group col-md-1">
          <label for="endroit">Pays</label>
          <select class="form-control" id="pays">
          </select>
        </div>
        <div class="form-group col-md-1">
          <!--Liste des endroits depuis le backend-->
          <label for="quadri">Quadrimestre</label>
          <select class="form-control" id="quadri">
            <option selected>/</option>
            <option>1</option>
            <option>2</option>
          </select>
        </div>
        <div class="form-group col-md-1">
          <!--Liste des partenaires depuis le backend-->
          <label for="partExist">Partenaires</label>
          <select class="form-control" id="partExist">
            <option selected>Autre</option>
          </select>
        </div>
      </div><!--/form-row-->

    </form>
    <button type="button"  id="bouton_sauvegarde_demande"class="btn btn-outline-secondary">Envoyer au professeur</button>
    <p id="alertMob" class="text-primary"></p>
    <!--<button type="button" class="btn btn-secondary" id="addRow">+</button> -->
    <br />
    <button type="button" class="btn btn-secondary" id="button_demande_mes_mobilites"> Voir mes demandes de mobilites </button>
    <p id="alertViewMob" class="text-primary"></p>
  </div><!--/container-fluid-->

</br>
</br>
<table class="table" id="tableMob">
  <thead>
    <tr>
      <td>Ordre</td>
      <td>Programme</td>
      <td>Duree</td>
      <td>Pays</td>
      <td>Quadrimestre</td>
      <td>Partenaire</td>
    </tr>
  </thead>
  <tbody id="listeDemandeMobilite">
  </tbody>
</table>
<div class="container" id="nouveauPartenaire">
  <br />
  <br >
  <form>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="pays_partenaire">Pays*</label>
        <select id="pays_partenaire" class="form-control">
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="nomLegal_partenaire">Nom legal*</label>
        <input type="text" class="form-control" id="nomLegal_partenaire" placeholder="cégep Edouard Montpetit">
      </div>
      <div class="form-group col-md-3">
        <label for="nomAffaires_partenaire">Nom affaires*</label>
        <input type="text" class="form-control" id="nomAffaires_partenaire" placeholder="cégep Edouard Montpetit">
      </div>
      <div class="form-group col-md-3">
        <label for="nomComplet_partenaire">Nom complet*</label>
        <input type="text" class="form-control" id="nomComplet_partenaire" placeholder="cégep Edouard Montpetit">
      </div>
    </div>
    
    <fieldset class="border p-2">
      <legend class="w-auto">Adresse du partenaire</legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="rue_partenaire">Rue*</label>
          <input type="text" class="form-control" id="rue_partenaire" placeholder="Avenue de l'oiseau bleu">
        </div>
        <div class="form-group col-md-2">
          <label for="numero_partenaire">Numéro*</label>
          <input type="number" class="form-control" id="numero_partenaire" placeholder="59">
        </div>
        <div class="form-group col-md-2">
          <label for="boite_partenaire">Boite</label>
          <input type="text" class="form-control" id="boite_partenaire" placeholder="3">
        </div>
        <div class="form-group col-md-2">
          <label for="codePostal_partenaire">Code postal*</label>
          <input type="number" class="form-control" id="codePostal_partenaire" placeholder="1150">
        </div>
      </div> <!--/form row-->
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="commune_partenaire">Commune</label>
          <input type="text" class="form-control" id="commune_partenaire" placeholder="Woluwe St Pierre">
        </div>
        <div class="form-group col-md-3">
          <label for="ville_partenaire">Ville*</label>
          <input type="text" class="form-control" id="ville_partenaire" placeholder="Mons">
        </div>
        <div class="form-group col-md-3">
          <label for="region_partenaire">Région</label>
          <input type="text" class="form-control" id="region_partenaire" placeholder="Hainaut">
        </div>
      </div> <!--/form row-->
    </fieldset>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="code_partenaire">Code*</label>
        <select class="form-control" id="code_partenaire">
          <option selected>SMP</option>
          <option>SMS</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="type_organisation_partenaire">Type-organisation</label>
        <select class="form-control" id="type_organisation_partenaire">
          <option selected>/</option>
          <option>TPE</option>
          <option>PME</option>
          <option>ETI</option>
          <option>TGE</option>
        </select>
      </div>
    </div> <!--/form row-->
    
    <div class="form-group">
      <label for="nbEmployees_partenaire">Nombre d'employées :</label>
      <input type="number" class="form-control" id="nbEmployees_partenaire" placeholder="50">
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email_partenaire">Email*</label>
        <input type="text" class="form-control" id="email_partenaire" placeholder="partenaire@gmail.com">
      </div>
      <div class="form-group col-md-6">
        <label for="siteWeb_partenaire">Site Web</label>
        <input type="text" class="form-control" id="siteWeb_partenaire" placeholder="www.partenaire.com">
      </div>
    </div> <!--/form row-->
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telephone_partenaire">Telephone*</label>
        <input type="tel" class="form-control" id="telephone_partenaire" placeholder="+32 484 56 25 02">
      </div>
      <div class="form-group col-md-6">
        <label for="departement_partenaire">Département</label>
        <input type="text" class="form-control" id="departement_partenaire" placeholder="Informatique">
      </div>
    </div> <!--/form row-->
    
    <button type="button" class="btn btn-primary" id="confirmer_nouveau_partenaire">Confirmer</button>
    <p id="alertEncodagePart" class="text-primary"></p>
  </form>

</div><!--/container nouveauPartenaire-->    

</div><!--/etudiant-->