
<div id="footer">
<br/>
<br />
<footer class="footer bg-primary" style="bottom: 0; width: 100%; height: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="text-center text-white">© Groupe 5 - Projet AE</a>
                <a class="float-right text-white">CURATOLO Gabriel | DE SMEDT Andy | GROSSE Niklas | HERTOGS Quentin | MELLANO Romain</a>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- IMPORT  !-->
<script src="../vendor/js/jquery.js"></script>
<script src="../vendor/js/frontend.js"></script>
<script src="../vendor/js/jquery-ui.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/etudiantScript.js"></script>
<script src="../js/connexionInscriptionScript.js"></script>
<script src="../js/professeurScript.js"></script>
<script src="../js/professeurResponsableScript.js"></script>
<script src="../js/rechercheScript.js"></script>
<script src="../js/mesInfosScript.js"></script>

</body>
</html>