<div id="page_infos">
    <h2>Mes infos :</h2>
    <br />
    <div class="container" id="estEncodeEtAMobiConfirmeView">
        <h3>Vos mobilités :</h3>

        <br />
        <fieldset class="border p-2">
          <legend class="w-auto">Voir l'état d'avancement d'une mobilité :</legend>
          <table class="table table-bordered" id="tableDesMobilitesEtudiantes">
              <thead class="thead table-primary">
                  <tr>
                      <th>Pays</th>
                      <th>Année academique</th>
                      <th>Programme</th>
                      <th>Partenaire</th>
                      <th>Quadrimestre</th>
                      <th>Etat de la demande</th>
                      <th>Voir</th>
                  </tr>
              </thead>
              <tbody id="voirMobTable">
              </tbody>
          </table>
          <p id="alertVoirMobiliteTable" class="text-primary"></p>
      </fieldset>
      <br />  
      </div>
      
      <div class="container" id="voirUneMobi">
        <br />
        <br />
      
        
        <h4 id="etatDeLaMobChoisie" >État de la mobilité : </h4>
        <br />
        <h4>Documents recu par le prof :</h4>
      <div class="row">
        <form>
          <fieldset class="border p-2">
            <legend class="w-auto">Documents à remplir au préalable</legend>
            <p><input type="checkbox" id="bourseVision" onclick="return false" > Contrat de bourse</p>
            <p><input type="checkbox" id="conventionVision" onclick="return false"> Convention de stage/d'études</p>
            <p><input type="checkbox" id="charteVision" onclick="return false"> Charte</p>
            <p><input type="checkbox" id="preuve_passageVision" onclick="return false"> Preuve de passage de tests linguistiques</p>
            <p><input type="checkbox" id="doc_engagementVision" onclick="return false"> Documents d'engagement (assurance,logement...)</p>
          </fieldset>
        </form>
        
        <form>
          <fieldset class="border p-2">
            <legend class="w-auto">Documents à remplir au retours</legend>
            <p><input type="checkbox" id="attSejourVision" onclick="return false"> Attestation de séjour</p>
            <p><input type="checkbox" id="relNotesVision" onclick="return false"> Relevé de notes</p>
            <p><input type="checkbox" id="certifStageVision" onclick="return false"> Certificat de stage</p>
            <p><input type="checkbox" id="rapFinalVision" onclick="return false"> Rapport final complété en ligne</p>
            <p><input type="checkbox" id="preuve_passageApMobVision" onclick="return false"> Preuve de passage de tests linguistiques après mobilité</p>
      
          </fieldset>
        </form>
      
        <form>
            <fieldset class="border p-2">
              <legend class="w-auto">Annulation</legend>
              <p><input type="checkbox" id="annuleVision" onclick="return false"> Annulé</p>
              <br />
              <p>Raisons de l'annulation :</p>
              <p id="raisonsAnnulationVision"></p>  
            </fieldset>
        </form>
        
      </div><!--/row-->
      <br />
      </div><!--/voirUneMobi-->
      
      <div class="container" id="voirSesDonnes">
        <h3>Vos données personnelles</h3>
        <p>Voici vos données : </p>
        <form>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="voir_civilite_encoderDonnee">Civilité</label>
              <input type="text" class="form-control" id="voir_civilite_encoderDonnee" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="voir_sexe_encoderDonnee">Sexe</label>
              <input type="text" class="form-control" id="voir_sexe_encoderDonnee" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="voir_dateNaissance_encoderDonnee">Date de naissance</label>
              <input type="text" class="form-control" id="voir_dateNaissance_encoderDonnee" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="voir_departement_encoderDonnee">Departement</label>
              <input type="text" class="form-control" id="voir_departement_encoderDonnee" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="voir_nationalite_encoderDonnee">Nationalité</label>
            <input type="text" class="form-control" id="voir_nationalite_encoderDonnee" readonly>
          </div>
          <fieldset class="border p-2">
            <legend class="w-auto">Adresse</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="voir_rue_encoderDonnee">Rue</label>
                <input type="text" class="form-control" id="voir_rue_encoderDonnee" readonly>
              </div>
              <div class="form-group col-md-2">
                <label for="voir_numero_encoderDonnee">Numéro</label>
                <input type="number" class="form-control" id="voir_numero_encoderDonnee" readonly>
              </div>
              <div class="form-group col-md-2">
                <label for="voir_boite_encoderDonnee">Boite</label>
                <input type="text" class="form-control" id="voir_boite_encoderDonnee" readonly>
              </div>
              <div class="form-group col-md-2">
                <label for="voir_codePostal_encoderDonnee">Code postal</label>
                <input type="text" class="form-control" id="voir_codePostal_encoderDonnee" readonly>
              </div>
              <div class="form-group col-md-2">
                <label for="voir_ville_encoderDonnee">Ville </label>
                <input type="text" class="form-control" id="voir_ville_encoderDonnee" readonly>
              </div>
              <div class="form-group col-md-2">
                <label for="voir_region_encoderDonnee">Region</label>
                <input type="text" class="form-control" id="voir_region_encoderDonnee" readonly>
              </div>
            </div> <!--/form row-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="voir_commune_encoderDonnee">Commune</label>
                <input type="text" class="form-control" id="voir_commune_encoderDonnee" readonly>
              </div>
            </div> <!--/form row-->
          </fieldset>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="voir_telephone_encoderDonnee">Telephone</label>
              <input type="tel" class="form-control" id="voir_telephone_encoderDonnee" readonly>
            </div>
          </div> <!--/form row-->
      
          <div class="form-group">
            <label for="voir_nbAnneesReussies_encoderDonnee">Nombre d'années réussies dans l'enseignement supérieur :</label>
            <input type="number" class="form-control" id="voir_nbAnneesReussies_encoderDonnee" readonly>
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="voir_noCompte_encoderDonnee">Numéro Compte Banquaire</label>
              <input type="text" class="form-control" id="voir_noCompte_encoderDonnee" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="voir_titulaireCompte_encoderDonnee">Titulaire du compte</label>
              <input type="text" class="form-control" id="voir_titulaireCompte_encoderDonnee" readonly>
            </div>
          </div> <!--/form row-->
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="voir_banque_encoderDonnee">Nom de la banque</label>
              <input type="text" class="form-control" id="voir_banque_encoderDonnee" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="voir_codeBic_encoderDonnee">Code BIC</label>
              <input type="text" class="form-control" id="voir_codeBic_encoderDonnee" readonly>
            </div>
          </div> <!--/form row-->
        </form>
        
        <button type="button" class="btn btn-primary" id="button_changer_donnees">Changer mes données</button>
        <p id="alertChangerDonnees" class="text-primary"></p>
      </div><!--/container voirSesDonnes--> 

      <div class="container" id="encoderSesDonnees">
        <br />
        <h3>Encodage des données personnelles</h3>
        <p>Veuillez encoder vos données : </p>
        <form>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="civilite_encoderDonnee">Civilité</label>
              <select id="civilite_encoderDonnee" class="form-control">
                <option selected>Mme</option>
                <option>Mr</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="sexe_encoderDonnee">Sexe</label>
              <select id="sexe_encoderDonnee" class="form-control">
                <option selected>F</option>
                <option>M</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dateNaissance_encoderDonnee">Date de naissance</label>
              <input type="date" class="form-control" id="dateNaissance_encoderDonnee">
            </div>
            <div class="form-group col-md-6">
              <label for="departement_encoderDonnee">Departement</label>
              <input type="text" class="form-control" id="departement_encoderDonnee" placeholder="Informatique">
            </div>
          </div>
          <div class="form-group">
            <label for="nationalite_encoderDonnee">Nationalité</label>
            <select id="nationalite_encoderDonnee" class="form-control">
            </select>
          </div>
          <fieldset class="border p-2">
            <legend class="w-auto">Adresse</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="rue_encoderDonnee">Rue</label>
                <input type="text" class="form-control" id="rue_encoderDonnee" placeholder="Avenue de l'oiseau bleu">
              </div>
              <div class="form-group col-md-2">
                <label for="numero_encoderDonnee">Numéro</label>
                <input type="number" class="form-control" id="numero_encoderDonnee" placeholder="59">
              </div>
              <div class="form-group col-md-2">
                <label for="boite_encoderDonnee">Boite</label>
                <input type="text" class="form-control" id="boite_encoderDonnee" placeholder="3">
              </div>
              <div class="form-group col-md-2">
                <label for="codePostal_encoderDonnee">Code postal</label>
                <input type="text" class="form-control" id="codePostal_encoderDonnee" placeholder="1150">
              </div>
              <div class="form-group col-md-2">
                <label for="ville_encoderDonnee">Ville </label>
                <input type="text" class="form-control" id="ville_encoderDonnee" placeholder="Mons">
              </div>
              <div class="form-group col-md-2">
                <label for="region_encoderDonnee">Region</label>
                <input type="text" class="form-control" id="region_encoderDonnee" placeholder="Hainaut">
              </div>
            </div> <!--/form row-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="commune_encoderDonnee">Commune</label>
                <input type="text" class="form-control" id="commune_encoderDonnee" placeholder="Woluwe St Pierre">
              </div>
            </div> <!--/form row-->
          </fieldset>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="telephone_encoderDonnee">Telephone</label>
              <input type="tel" class="form-control" id="telephone_encoderDonnee"  placeholder="+32 484 56 25 02">
            </div>
          </div> <!--/form row-->
      
          <div class="form-group">
            <label for="nbAnneesReussies_encoderDonnee">Nombre d'années réussies dans l'enseignement supérieur :</label>
            <input type="number" class="form-control" id="nbAnneesReussies_encoderDonnee" placeholder="2">
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="noCompte_encoderDonnee">Numéro Compte Banquaire</label>
              <input type="text" class="form-control" id="noCompte_encoderDonnee" placeholder="BE88 9923 1111 1665">
            </div>
            <div class="form-group col-md-6">
              <label for="titulaireCompte_encoderDonnee">Titulaire du compte</label>
              <input type="text" class="form-control" id="titulaireCompte_encoderDonnee" placeholder="John Doe">
            </div>
          </div> <!--/form row-->
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="banque_encoderDonnee">Nom de la banque</label>
              <input type="text" class="form-control" id="banque_encoderDonnee" placeholder="ING">
            </div>
            <div class="form-group col-md-6">
              <label for="codeBic_encoderDonnee">Code BIC</label>
              <input type="text" class="form-control" id="codeBic_encoderDonnee" placeholder="BBRU BE BB">
            </div>
          </div> <!--/form row-->
      
          <button type="button" class="btn btn-primary" id="button_encodage_donnees">Confirmer</button>
          <p id="alertEncodageDonnees" class="text-primary"></p>
        </form>
      
      </div><!--/container encoderSesDonnes-->
</div> <!--/page_infos-->
