<div id="professeur">
  <div id="vueGenerale">
    <div class="container-fluid">

      <br />
      <h2>Liste de toutes les demandes de mobilités : </h2>
      <button class="btn btn-primary" id="exporterDonnees">Exporter les données</button>
      <table class="table table-bordered" id="tableDemMobProf">
        <thead class="thead table-primary">
          <tr>
            <th>Ordre de candidature</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Ordre de préference</th>
            <th>Type de mobilité</th>
            <th>Stage/académique</th>
            <th>Quadrimestre</th>
            <th>Partenaire</th>
            <th>Confirmer</th>
          </tr>
        </thead>
        <tbody id="demandesProf">
        </tbody>
        <p id="alertConfirmMobilite" class="text-primary"></p>
      </table>
      <!--<button type="button" class="btn btn-secondary" id="button_confirmer_demande_mobilite"> confirmer la mobilite </button>-->
    </div><!--/container-->
  </br>
</br>
<div class="container">
  <h2>Liste de tous les utilisateurs : </h2>

  <table class="table table-bordered" id="tableUtilisateurs">
    <thead class="thead table-primary">
      <tr>
        <th>Id utilisateur</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Date d'inscription</th>
        <th>Role</th>
        <th>Departement</th>
        <th>Nombre d'années réussies</th>
      </tr>
    </thead>
    <tbody id="allUtilisateurs">
    </tbody>
  </table>
  <form>
    <fieldset class="border p-2">
      <legend class="w-auto">Lister les demandes de payement par année :</legend>
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="number" class="form-control" id="anneeListePayement" placeholder="Année académique">
        </div>       
      </div>
      <button type="button"  id="bouton_lister_demande_payement" class="btn btn-outline-secondary">Rechercher</button>
      <p id="alertViewProfRecherchePayement" class="text-primary"></p>
    </fieldset>

    <!-- ICI LA TABLE DES DEMANDES DE PAYEMENT -->
    <table class="table table-bordered" id="tableListedemandePayement">
      <thead class="thead table-primary">
        <tr>
          <th>Pseudo</th>
          <th>Pays</th>
          <th>Année academique</th>
          <th>Programme</th>
          <th>Partenaire</th>
          <th>Quadrimestre</th>
          <th>1ere demande payement</th>
          <th>2eme demande payement</th>
        </tr>
      </thead>
      <tbody id="tableListedemandePayementBody">

      </tbody>
    </table>
  </form>
</div>
</br>
</br>
<div class="container">
  <br />
  <h2>Liste de toutes les mobilités confirmées: </h2>
</form>
<table class="table table-bordered" id="tableMobProf">
  <thead class="thead table-primary">
    <tr>
      <th>Pseudo</th>
      <th>Pays</th>
      <th>Partenaire</th>
      <th>Etat</th>
      <th>Quadrimestre</th>
    </tr>
  </thead>
  <tbody id="mobilitesProf">
  </tbody>
</table>
<!--<button type="button" class="btn btn-secondary" id="button_confirmer_demande_mobilite"> confirmer la mobilite </button>-->


<fieldset class="border p-2">
  <legend class="w-auto">Gérer la mobilité en cours d'un étudiant :</legend>
  <table class="table table-bordered" id="tableUtilisateursMobilite">
    <thead class="thead table-primary">
      <tr>
        <th>Pseudo</th>
        <th>Pays</th>
        <th>Année academique</th>
        <th>Programme</th>
        <th>Partenaire</th>
        <th>Quadrimestre</th>
        <th>Etat de la demande</th>
        <th>Gérer</th>
      </tr>
    </thead>
    <tbody id="gererMobEtTable">
    </tbody>
  </table>
  <p id="alertGererMobEtudiant" class="text-primary"></p>
</fieldset>

</div><!--/container-->
</div>

<!-- recup id et numVersion mobilite et programme-->
<input type="text" id="idMobi" style="display:none;">
<input type="text" id="numVersMob" style="display:none;">
<input type="text" id="programmeDemMob" style="display:none;">
<input type="text" id="paysRenvoi" style="display:none;">

<!--////////////////////////////////////////PARTIE CREEE////////////////////////////////////////////////////-->

<div class="container" id="Créée">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      EN PRÉPA
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      A PAYER
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      ENVOYÉE
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      A PAYER S
    </div>
  </div>
  <br />

  <form>
    <div class="form-row">
      <fieldset class="border p-2">
        <legend class="w-auto">Documents à remplir au préalable</legend>

        <div class="form-group col-md-6">
          <p><input type="checkbox" id="bourse" name="bourse"> Contrat de bourse</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="convention" name="convention"> Convention de stage/d'études</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="charte" name="charte"> Charte</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="preuve_passage" name="preuve_passage"> Preuve de passage de tests linguistiques</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="doc_engagement" name="doc_engagement"> Documents d'engagement (assurance,logement...)</p>
        </div>
        <button type="button" class="btn btn-primary" name="sauver_documents_pre">Sauvegarder</button>
        <p id="alertSauvegardeCree" class="text-primary"></p>
      </fieldset>
      <fieldset class="border p-2">
        <legend class="w-auto">Encodé dans : </legend>
        <div class="form-group col-md-6">
          <p><input type="checkbox" name="pro_eco" id="pro_eco"> Pro Eco</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" name="mobility_tool" id="mobility_tool"> Mobility Tool</p>
          <p><input type="checkbox" name="mobi" id="mobi"> Mobi</p>
        </div>

      </fieldset>


    </div><!--/form row-->
  </form>
</br>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-primary" name="envoyer_demande">Envoyer la demande</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-danger annuler_demande" name="annuler_mobilite">Annuler la mobilité</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger refuser_demande" name="refuser_mobilite">Refuser la mobilité</button>
    </div>
  </div>
</form>
<p id="alertRefus" class="text-primary"></p>


</div><!-- /cree-->  
<!--////////////////////////////////////////PARTIE EN PREPARATION////////////////////////////////////////////////////-->
<div id="en_preparation" class="container">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-secondary text-dark" role="progressbar" style="width:20%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
      EN PRÉPA
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      A PAYER
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      ENVOYÉE
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      A PAYER S
    </div>
  </div>
  <br />
  <form>
    <div class="form-row">
      <fieldset class="border p-2">
        <legend class="w-auto">Documents à remplir au préalable</legend>

        <div class="form-group col-md-6">
          <p><input type="checkbox" id="bourse2"name="bourse"> Contrat de bourse</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="convention2" name="convention"> Convention de stage/d'études</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="charte2" name="charte"> Charte</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="preuve_passage2" name="preuve_passage"> Preuve de passage de tests linguistiques</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="doc_engagement2" name="doc_engagement"> Documents d'engagement (assurance,logement...)</p>
        </div>
        <button type="button" class="btn btn-primary" name="sauver_documents_pre">Sauvegarder</button>
        <p id="alertSauvegardePreparation" class="text-primary"></p>
      </fieldset>
      <fieldset class="border p-2">
        <legend class="w-auto">Encodé dans : </legend>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="pro_eco2" name="pro_eco"> Pro Eco</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="mobility_tool2" name="mobility_tool"> Mobility Tool</p>
          <p><input type="checkbox" id="mobi2" name="mobi"> Mobi</p>
        </div>

      </fieldset>


    </div><!--/form row-->
  </form>
</br>

<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-primary" name="envoyer_demande">Envoyer la demande</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-danger annuler_demande" name="annuler_mobilite">Annuler la mobilité</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger refuser_demande" name="refuser_mobilite">Refuser la mobilité</button>
    </div>
  </div>
</form>

</div><!-- /en_preparation-->

<!--////////////////////////////////////////PARTIE A PAYE////////////////////////////////////////////////////-->
<div id="a_payer" class="container">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      EN PRÉPA
    </div>
    <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
      A PAYER
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      ENVOYÉE
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      A PAYER S
    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <button type="button" class="btn btn-outline-secondary" name="envoyer_demande">Indiquer envoie de la demande de payement</button>
  </div>
  <br />
  <br />
  <div class="row justify-content-around">
    <button type="button" class="btn btn-danger col-md-2 annuler_demande" name="annuler_mobilite">Annuler la mobilité</button>
    <button type="button" class="btn btn-danger col-md-2 refuser_demande" name="refuser_mobilite">Refuser la mobilité</button>
  </div>

</div><!-- /aPayer-->
<!--////////////////////////////////////////PARTIE EN_COURS////////////////////////////////////////////////////-->

<div id="en_cours" class="container">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      EN PRÉPA
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      A PAYER
    </div>
    <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
      ENVOYÉE
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:20%;height:40px">
      A PAYER S
    </div>
  </div>
  <br />
  <form class="form-row">
    <fieldset class="border p-2">
      <legend class="w-auto">Documents à remplir au retour</legend>
      <p><input type="checkbox" id="attSejour"> Attestation de séjour</p>
      <p><input type="checkbox" id="relNotes" name="preuve"> Relevé de notes</p>
      <p><input type="checkbox" id="certifStage" name="preuve"> Certificat de stage</p>
      <p><input type="checkbox" id="rapFinal"> Rapport final complété en ligne</p>
      <p><input type="checkbox" id="preuve_passageApMob"> Preuve de passage de tests linguistiques après mobilité</p>
      <button type="button" class="btn btn-outline-secondary" id="savEnvoyeHE">Sauvegarder</button>
      <button type="button" class="btn btn-outline-secondary" id="demRemb">Demander remboursement</button>
      <p id="alertEnvoyerDemandeHE" class="text-primary"></p>
    </fieldset>
    <fieldset class="border p-2">
        <legend class="w-auto">Encodé dans : </legend>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="pro_eco_retour" name="pro_eco"> Pro Eco</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="mobility_tool_retour" name="mobility_tool"> Mobility Tool</p>
          <p><input type="checkbox" id="mobi_retour" name="mobi"> Mobi</p>
        </div>

      </fieldset>
  </form>
</br>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-danger annuler_demande" name="annuler_mobilite">Annuler la mobilité</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger refuser_demande" name="refuser_mobilite">Refuser la mobilité</button>
    </div>
  </div>
</form>
<p id="alertRefus" class="text-primary"></p>

</div><!-- /envoyeAHE-->

<!--////////////////////////////////////////PARTIE A PAYE SOLDE////////////////////////////////////////////////////-->

<div id="a_payer_solde" class="container">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      EN PRÉPA
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      A PAYER
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:20%;height:40px">
      ENVOYÉE
    </div>
    <div class="progress-bar bg-success" role="progressbar" style="width:20%;height:40px">
      A PAYER S
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row justify-content-center">
    <button type="button" class="btn btn-outline-secondary" id="deuxiemeDemandePayement">Indiquer envoie de la deuxieme demande de payement</button>
  </div>

</div><!-- /apayerSolde-->

<!--////////////////////////////////////////PARTIE CREEE SUISSE////////////////////////////////////////////////////-->

<div class="container" id="CrééeSuisse">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande Suisse</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-success" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      EN PRÉPA
    </div>
    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      EN COURS
    </div>
  </div>
  <br />
  
  <form>
    <div class="form-row">
      <fieldset class="border p-2">
        <legend class="w-auto">Documents à remplir au préalable</legend>


        <div class="form-group col-md-6">
          <p><input type="checkbox" id="conventionSuisse" name="convention"> Convention de stage/d'études</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="charteSuisse" name="charte"> Charte</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="preuve_passageSuisse" name="preuve_passage"> Preuve de passage de tests linguistiques</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="doc_engagementSuisse" name="doc_engagement"> Documents d'engagement (assurance,logement...)</p>
        </div>
        <button type="button" class="btn btn-primary" name="sauver_documents_pre">Sauvegarder</button>
        <p id="alertSauvegardeCreeSuisse" class="text-primary"></p>
      </fieldset>
      <fieldset class="border p-2">
        <legend class="w-auto">Encodé dans : </legend>
        <div class="form-group col-md-6">
          <p><input type="checkbox" name="pro_eco" id="pro_ecoSuisse"> Pro Eco</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" name="mobility_tool" id="mobility_toolSuisse"> Mobility Tool</p>
          <p><input type="checkbox" name="mobi" id="mobiSuisse"> Mobi</p>
        </div>

      </fieldset>


    </div><!--/form row-->
  </form>
</br>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-primary" name="envoyer_demande">Envoyer la demande</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-danger annuler_demande" name="annuler_mobilite">Annuler la mobilité</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger refuser_demande" name="refuser_mobilite">Refuser la mobilité</button>
    </div>
  </div>
</form>
<p id="alertRefus" class="text-primary"></p>


</div><!-- /cree-->  


<!--////////////////////////////////////////PARTIE EN PREPARATION SUISSE////////////////////////////////////////////////////-->
<div id="en_preparationSuisse" class="container">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande Suisse</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-secondary text-dark" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-success" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      EN PRÉPA
    </div>

    <div class="progress-bar bg-light text-dark" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      EN COURS
    </div>
  </div>
  <br />
  <form>
    <div class="form-row">
      <fieldset class="border p-2">
        <legend class="w-auto">Documents à remplir au préalable</legend>


        <div class="form-group col-md-6">
          <p><input type="checkbox" id="convention2Suisse" name="convention"> Convention de stage/d'études</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="charte2Suisse" name="charte"> Charte</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="preuve_passage2Suisse" name="preuve_passage"> Preuve de passage de tests linguistiques</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="doc_engagement2Suisse" name="doc_engagement"> Documents d'engagement (assurance,logement...)</p>
        </div>
        <button type="button" class="btn btn-primary" name="sauver_documents_pre">Sauvegarder</button>
        <p id="alertSauvegardePreparationSuisse" class="text-primary"></p>
      </fieldset>
      <fieldset class="border p-2">
        <legend class="w-auto">Encodé dans : </legend>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="pro_eco2Suisse" name="pro_eco"> Pro Eco</p>
        </div>
        <div class="form-group col-md-6">
          <p><input type="checkbox" id="mobility_tool2Suisse" name="mobility_tool"> Mobility Tool</p>
          <p><input type="checkbox" id="mobi2Suisse" name="mobi"> Mobi</p>
        </div>

      </fieldset>


    </div><!--/form row-->
  </form>
</br>

<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-primary" name="envoyer_demande">Envoyer la demande</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-danger annuler_demande" name="annuler_mobilite">Annuler la mobilité</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger refuser_demande" name="refuser_mobilite">Refuser la mobilité</button>
    </div>
  </div>
</form>
</div> <!-- /en préparation-->


<!--////////////////////////////////////////PARTIE EN COURS SUISSE////////////////////////////////////////////////////-->

<div id="envoyer_demande_heSuisse" class="container">
  <button type="button" class="btn btn-info" name="retour">Retour</button>
  <h4>Etat de la demande Suisse</h4>
  <div class="progress" style="height:40px">
    <div class="progress-bar bg-secondary" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      CRÉÉE
    </div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      EN PRÉPA
    </div>

    <div class="progress-bar bg-success" role="progressbar" style="width:33.3333333333333333333%;height:40px">
      EN COURS
    </div>
  </div>
  <br />
  <form>
    <fieldset class="border p-2">
      <legend class="w-auto">Documents à remplir au retours</legend>
      <p><input type="checkbox" id="attSejourSuisse"> Attestation de séjour</p>
      <p><input type="checkbox" id="relNotesSuisse" name="preuve"> Relevé de notes</p>
      <p><input type="checkbox" id="certifStageSuisse" name="preuve"> Certificat de stage</p>
      <p><input type="checkbox" id="rapFinalSuisse"> Rapport final complété en ligne</p>
      <p><input type="checkbox" id="preuve_passageApMobSuisse"> Preuve de passage de tests linguistiques après mobilité</p>
      <button type="button" class="btn btn-outline-secondary" id="savEnvoyeHESuisse">Sauvegarder</button>
      <button type="button" class="btn btn-outline-secondary" id="demRembSuisse">Demander remboursement</button>
      <p id="alertEnvoyerDemandeHE" class="text-primary"></p>
    </fieldset>
  </form>
</br>

</div><!-- /envoyeAHE-->

<!--////////////////////////////////////////PARTIE TERMINEE////////////////////////////////////////////////////-->
<div class="container" id="mobiliteTerminee">
  <figure>
    <div class="card text-center">
      <div class="card-header">
        Fini !
      </div>
      <div class="card-body">
        <h5 class="card-title">Cette mobilité est terminée.</h5>
        <p class="card-text">Vous pouvez toujours retourner à l'accueil du site.</p>
        <button type="button" class="btn btn-primary" name="retour">MobIPL</button>
      </div>
    </div>
  </figure>
</div>
</br>

<!--////////////////////////////////////////PARTIE REFUSEE////////////////////////////////////////////////////-->
<div class="container" id="mobiliteRefusee">
  <figure>
    <div class="card text-center">
      <div class="card-header">
        Impossible !
      </div>
      <div class="card-body">
        <h5 class="card-title">Cette mobilité a été refusée.</h5>
        <p class="card-text">Vous pouvez toujours retourner à l'accueil du site.</p>
        <button type="button" class="btn btn-primary" name="retour">MobIPL</button>
      </div>
    </div>
  </figure>
</div>
</br>

<!--////////////////////////////////////////PARTIE ANULEE////////////////////////////////////////////////////-->
<div class="container" id="mobiliteAnnulee">
  <figure>
    <div class="card text-center">
      <div class="card-header">
        Impossible !
      </div>
      <div class="card-body">
        <h5 class="card-title">Cette mobilité a été annulée.</h5>
        <p class="card-text">Vous pouvez toujours retourner à l'accueil du site.</p>
        <button type="button" class="btn btn-primary" name="retour">MobIPL</button>
      </div>
    </div>
  </figure>
</div>  


<div class="container" id="div_annulation">
  <label>Raison de l'annulation :</label>  <button type="button" class="btn btn-danger annuler_demande" id="envoi_annulation">Envoyer</button>
</br>
</br>
<textarea placeholder="Raison(s)..." rows="3" cols="100" id="raison_annulation"> </textarea>
</br>
</br>
</div>
<div class="container" id="div_refus">
  <label>Raison du refus :</label> <button type="button" class="btn btn-danger refuser_demande" id="envoi_refus">Envoyer</button>
</br>
</br>
<textarea placeholder="Raison(s)..." rows="3" cols="100" id="raison_refus"> </textarea>

</div><!-- fin vueGenerale -->


</div><!--fin étudiant -->
