<div class="container" id="professeur-responsable">
    <form>
        <fieldset class="border p-2">
            <legend class="w-auto">Promouvoir un professeur :</legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="email" class="form-control" id="inputAugmenterProf" placeholder="prof.nom@vinci.be">
                </div>
            </div>
            <button type="button"  id="boutonAugmenterProf"class="btn btn-outline-secondary">Promouvoir</button>
            <p id="alertpromotionProf" class="text-primary"></p>
        </fieldset>
    </form>
</div> <!--/container professeur-responsable-->
