<div id="page_recherche">
<div class="container">
   <H2>RECHERCHE</H2>

   <br />
   <form>
      <fieldset class="border p-2">
          <legend class="w-auto">Rechercher un utilisateur :</legend>
          	 <p id="alertPasEtudiant" class="text-primary"></p>	
          <div class="form-row">
              <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="nomListeEtudiant" placeholder="Nom">
              </div>
              <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="prenomListeEtudiant" placeholder="Prenom">
              </div>
          </div>
          <button type="button"  id="bouton_recherche_etudiant" class="btn btn-outline-secondary">Rechercher</button>
          <p id="alertRechercherEtudiant" class="text-primary"></p>
      </fieldset>

      <!-- ICI LA TABLE DES UTILISATEURS RECHERCHEES NE PAS SUPPRIMER !!! -->
      <table class="table table-bordered" id="tableUtilisateurRecherche">
          <thead class="thead table-primary">
              <tr>
                  <th>Civilite</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Pseudo</th>
                  <th>Sexe</th>
                  <th>Date de naissance</th>
                  <th>Email</th>
                  <th>Departement</th>
              </tr>
          </thead>
          <tbody id="gererRechercheUtilisateur">
        </tbody>
      </table>
  </form>
  
  <br />
  <form>
   <fieldset class="border p-2">
       <legend class="w-auto">Rechercher un partenaire existant :</legend>
       	 <p id="alertPasPartenaire" class="text-primary"></p>	
       <div class="form-row">
           <div class="form-group col-md-2">
               <input type="text" class="form-control" id="nomListePartenaire" placeholder="Nom">
           </div>
           <div class="form-group col-md-2">
               <input type="text" class="form-control" id="paysListePartenaire" placeholder="Pays">
           </div>
           <div class="form-group col-md-2">
            <input type="text" class="form-control" id="villeListePartenaire" placeholder="Ville">
        </div>
       </div>
       <button type="button"  id="bouton_recherche_partenaire" class="btn btn-outline-secondary">Rechercher</button>
       <p id="alertRechercherPartenaire" class="text-primary"></p>

   </fieldset>

   <!-- ICI LA TABLE DES UTILISATEURS RECHERCHEES NE PAS SUPPRIMER !!! -->
   <table class="table table-bordered" id="tablePartenaireRecherche">
       <thead class="thead table-primary">
           <tr>
               <th>Nom</th>
               <th>Pays</th>
               <th>Email</th>
               <th>Département</th>
               <th>Tel</th>
               <th>Code</th>
           </tr>
       </thead>
       <tbody id="gererRecherchePartenaire">
    </tbody>
   </table>
</form>

<br />
  <form>
   <fieldset class="border p-2">
       <legend class="w-auto">Rechercher une mobilité :</legend>
       	 <p id="alertPasMobi" class="text-primary"></p>	
       <div class="form-row">
           <div class="form-group col-md-2">
               <input type="number" class="form-control" id="anneeListeMobilite" placeholder="Année académique">
           </div>
           <div class="form-group col-md-2">
               <input type="text" class="form-control" id="etatListeMobilite" placeholder="État de la mobilité">
           </div>
       </div>
       <button type="button"  id="bouton_recherche_mobilite" class="btn btn-outline-secondary">Rechercher</button>
       <p id="alertRechercherMobilite" class="text-primary"></p>

   </fieldset>

   <!-- ICI LA TABLE DES UTILISATEURS RECHERCHEES NE PAS SUPPRIMER !!! -->
   <table class="table table-bordered" id="tableMobiliteRecherche">
       <thead class="thead table-primary">
           <tr>
               <th>Année</th>
               <th>Pseudo</th>
               <th>Pays</th>
               <th>Ville</th>
               <th>Partenaire</th>
               <th>Etat</th>
           </tr>
       </thead>
       <tbody id="gererRechercheMobilite">
      </tbody>
   </table>
</form>
</div> <!--/container professeur-responsable-->
</div>